@font-face {
  font-family: Apoc;
  src: url(./apoctrial-bold.otf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Apoc;
  src: url(./apoctrial-bolditalic.otf);
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Apoc;
  src: url(./apoctrial-regular.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Apoc;
  src: url(./apoctrial-regularitalic.otf);
  font-style: italic;
  font-weight: normal;
}
